<div *ngIf="deck" class="p-4">
  <input type="text" placeholder="Deck Name" [(ngModel)]="deck.name" class="border border-black p-2 m-2">
  <button (click)="saveChanges()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>

  <div class="mt-4">
    <label>Current Cards:</label>
    <ul>
      <li *ngFor="let card of deck.cards">
        {{ card.name }}
        <button (click)="removeCard(card)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Remove</button>
      </li>
    </ul>
  </div>

  <div class="mt-4">
    <input type="text" [(ngModel)]="searchString" class="border border-black p-2 m-2">
    <button (click)="search()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Search</button>
  </div>

  <ng-container *ngIf="cards">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-2">
      <div *ngFor="let card of cards" class="relative cursor-pointer border" [class.border-green-500]="isCardSelected(card)" (click)="selectCard(card)">
        <img [src]="card.images.small" [alt]="card.name">
        <span class="absolute top-0 right-0 bg-white rounded-full px-2 py-1 text-sm" *ngIf="isCardSelected(card)">
          {{ getCardCount(card) }}
        </span>
      </div>
    </div>
    <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
  </ng-container>
</div>
